<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.tihuxueyuan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication33"
        android:usesCleartextTraffic="true">
        <activity
            android:name="cn.tihuxueyuan.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="cn.tihuxueyuan.verticaltabrecycler.MainActivity" />
        <activity android:name="cn.tihuxueyuan.verticaltabrecycler.RecyclerActivity" />
        <activity android:name="cn.tihuxueyuan.verticaltabrecycler.ViewPagerActivity" />
        <activity android:name="cn.tihuxueyuan.verticaltabrecycler.SimpleActivity" />

        <activity android:name="cn.tihuxueyuan.activity.Music_Activity" />
        <activity android:name="cn.tihuxueyuan.activity.CourseListActivity" />

        <activity android:name="cn.tihuxueyuan.activity.MusicMainActivity" />
        <activity android:name="cn.tihuxueyuan.activity.OkhttpClientActivity" />

        <service
            android:name="cn.tihuxueyuan.service.MusicService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>